*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #6d778d;
    color: #FFF;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #575656;
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* --------------- Cabecera --------------------*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #3e3d3d;
    width: 100%;
}

header nav ul li {
    display: inline-block;
    list-style:none;
    margin: 30px;
    font-size: 1.5625em;
    font-family: 'Open Sans', sans-serif; 
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

header nav ul {
    font-size: 0.67em;
}

.btn-me {
    padding: 10px;
    border: 3.5px solid #3333ad;
    border-radius: 1.875em;
}

.btn-me:hover {
    color:#fff;
    padding: 15px;
    transition: all .5s;
}

header nav ul li a:hover {
    opacity: .5;
    color:#fff;
}

/* ------------------------ Inicio/BG Nombre --------------------- */

article {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


article .inicio {
    width: 100%;
    height: 100vh;
    text-align: center;
}

article .inicio img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.title {
    text-transform: uppercase;
    font-size: 10em;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-image: url(../img/fondo.gif);
    margin-bottom: 20px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    background-attachment: fixed;
    text-align: center;

}

.title__subtitle {
    font-size: 2.5625em;
    color: #a8a8ac;
    display: inline-block;
}

/* ===== Scrollbar  ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #303030 #757575;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #757575;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 0px;
    border: 0px ridge #000000;
  }

/* -------------------------- Main/Contenido Principal -----------------*/

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10rem;
}

main .info {
    display: flex;
    justify-items: center;
}

.dashedDIV {
    cursor: pointer;
    transition: color 0.4s linear;
    width:30%;
}

.dashedDIV:hover {
    color:#fff;
}

.dashedDIV::before{
    content:'';
    position: absolute;
    width:30%;  /* Arreglar porcentajes por Em*/
    height: 18%;
    background: #717171 ;
    border-radius: 15px;
    z-index: -1;
    transition: transform 0.7s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6,0.4,0.7);
}

.dashedDIV:before {
    transform: scaleX(0);
}

.dashedDIV:hover:before {
    transform: scaleX(1);
}



/* main article div:hover {
    border: 5px dashed black;
    -webkit-animation: rotate 12s linear infinite;
    border: 5px dashed blue;
} */



main article {
    justify-content: space-around;
}

main article h2 {
    font-size: 2.8125em;
    text-align: center;
}


main article p {
    font-size: 1.875em;
    text-align: center;
}

.svg-3 {
    width: 2rem;
}

main article .svg {
    display: block;
    margin: 0px auto;
}

/*--------------------- Botones Articulo --------------------------------- */

.btn-info {
    text-decoration: none;
    color: #202097;
    background: -webkit-linear-gradient(#202097,#202097);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -------------------- Footer/Contacto ---------------------------------- */

footer {
    display: flex;
    width: 100%;
    height: 5em;
    background-color: #3e3d3d;
    justify-content: space-between;
}

.derechos {
    margin: auto;
}

.contacto {
    display: flex;
    flex-direction: row;
    width: 12rem;
}

.redes {
    width: 2em;
    margin: 25px 10px 0px 10px;
}

.redes:hover {
    width: 2.3em;
    transition: transform .1s ease;
}