/* .dashedDIV:hover {
    color:#fff;
}

.dashedDIV::before{
    content:'';
    position: absolute;
    width: 34.375em;
    height: 12em;
    background: #717171 ;
    border-radius: 15px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6,0.4,0.7);

 */

@media screen and (max-width: 1440px) {

    
}

@media screen and (max-width: 1024px) {

    
}

@media screen and (max-width: 768px) {

    
}


@media screen and (max-width: 630px) {

    .title {
        font-size: 6em;
    }

    article .inicio p {
        font-size: 1.5625em;
        text-align: center;
    }

    main article {
        display: flex;
        flex-wrap: wrap;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer p {
        order: 2;
        font-size: .8em;
    }

    footer div {
        order: 1;
        margin: auto;
    }
    
}

@media screen and (max-width: 467px) {

    .secciones section h2 {
        font-size: 3em;
    }

    .secciones section p {
        font-size: 1em;
    }

    main article h2 {
        font-size: 1.8125em;
        text-align: center;
    }

    main article p {
        font-size: 1em;
        text-align: center;
    }

    .redes {
        width: 2em;
        margin: 5px 0px 10px 10px;
    }

    .title {
        font-size: 4em;
    }

    header img {
        margin: auto;
        height: 4.75em;
    }

}