

body {
    font-size: 16px;
}

.secciones {
    width: 100%;
    margin-top:50em;
    margin-bottom: 50em;

}

.secciones section {
    text-align: center;
}

.secciones section h2 {
    font-size: 5em;
}

.experience_sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box img {
    width: 500px;
    height: 500px;
}

.box {
    margin: 10px;
    width: 500px;
    height: 500px;
}

.box img:hover {
    transition: all .5s;
    filter: blur(2px);
}